// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// $primary: #d15a0b;
$primary: #d15a0b;
$secondary: #2e3023;
$link-primary: #eb5e00;
$link-primary-hover: #e4b896;
// $btn-primary: #d15a0b;
$btn-primary: #d15a0b;
// $btn-border-1: #d15a0b;
$btn-border-1: #d15a0b;
// $btn-border-2: #8a3d0a;
$btn-border-2: #cd5200;
$base: #f1f3ee;

:root {
  --bs-primary: $primary !important;
  --bs-link-color: $primary !important;
}

html,
body {
  font-family: "Oswald", "Montserrat", sans-serif !important;
  // font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  line-height: normal;
  // background-color: $base !important;
  background-color: #f1f3ee !important;

  .main {
    background-color: $base;
  }

  section.section-primary {
    background-color: #f1f3ee !important;
  }
}

.btn-primary {
  background-color: $primary !important;
  border-radius: 0;
  border: 1px solid $btn-border-2 !important;
  letter-spacing: normal;
  font-weight: 600 !important;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif !important;
  padding: 5px 60px;
}

.btn-primary:hover {
  color: #2e3023 !important;
  background-color: transparent !important;
  border-radius: 0;
  border: 1px solid $btn-border-2 !important;
}

.owl-carousel {
  .owl-nav {
    .owl-prev:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-prev:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
  }

  .owl-dots {
    .owl-dot.active span {
      background-color: $btn-border-2 !important;
    }
  }
}

#header {
  .header-btn-collapse-nav {
    background-color: $primary;
  }

  .header-body {
    background-color: #f1f3ee !important;

    .img-logo {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      padding-left: 0px;
    }

    nav {
      padding: 0px;
      ul {
        margin-top: 15px;

        li {
          padding: 5px 0px;
          background-color: transparent;
          margin-top: 0px;
          margin-left: 0px;

          a {
            color: #2e3023 !important;
            padding: 7px;
            display: block !important;
            width: 100%;
            min-height: 100%;
            margin: 0px !important;
          }
        }

        li.active {
          background-color: $link-primary;

          a {
            color: white !important;
            background-color: inherit;
            font-weight: 700;
          }
        }

        li:hover {
          background-color: $link-primary-hover !important;
          a {
            background-color: $link-primary-hover !important;
          }
        }

        li.active {
          background-color: $link-primary !important;
        }
      }

      @media screen and (min-width: 768px) {
        ul {
          height: 70px !important;
          margin-top: 15px;

          li {
            padding: 7px 0px;
            background-color: transparent;
            margin-top: 0px;
            margin-left: 0px;

            a {
              color: #2e3023 !important;
              padding: 7px;
              display: block !important;
              width: 100%;
              min-height: 100%;
              margin: 16px 0 0 !important;
            }
          }

          li.active {
            background-color: $link-primary;

            a {
              color: white !important;
              background-color: inherit;
              font-weight: 700;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding-left: 50px;
    }
  }
}

#hero {
  padding: 200px 0 !important;
  background-color: $base !important;
  margin-top: -100px !important;

  .home-title {
    font-size: 3.1rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    max-width: 100% !important;
  }

  .page-header-background-custom {
    min-height: 300px;
  }

  @media screen and (min-width: 768px) {
    padding: 225px 0 !important;

    .home-title {
      font-size: 4.666rem !important;
      font-weight: 500 !important;
      letter-spacing: 1px !important;
      max-width: 100% !important;
    }
  }
}

#discover-our-method {
  .discover-our-method-image {
    // background: white url("../img/intro-img.webp") no-repeat;
    background: white url("../img/IMAGEX.jpg") no-repeat;
    background-position: top center !important;
    background-size: cover;
    height: 400px;

    @media screen and (min-width: 768px) {
      background-position: center !important;
      background-size: cover;
      height: 500px;
    }
  }

  .sub-title-discover-our-method {
    color: #2e3023;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    font-weight: 500 !important;
    letter-spacing: normal;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;

    .img-text {
      display: inline-block;
      width: 6.4rem;
      margin-top: -6px;
    }
  }

  @media screen and (min-width: 768px) {
    .sub-title-discover-our-method {
      color: #2e3023;
      font-size: 1.5rem !important;
      // line-height: 2rem !important;
      font-weight: 400;
      letter-spacing: normal;
      margin-bottom: 1rem !important;

      .img-text {
        display: inline-block;
        width: 7rem;
        margin-top: -7px;
      }
    }
  }
}

#we-care {
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e3023;

  .title-pos {
    font-family: "Oswald", sans-serif;
    color: $primary !important;
    text-align: center;
    font-size: 2rem !important;
    line-height: normal;
    font-weight: 700 !important;
    letter-spacing: normal !important;
  }

  .list-pos {
    padding: 0 0px;

    p {
      font-family: "Montserrat", sans-serif;
      color: whitesmoke !important;
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }

  @media screen and (min-width: 768px) {
    .title-pos {
      font-family: "Oswald", sans-serif;
      text-align: center;
      font-size: 3rem !important;
      font-weight: 600 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: normal;
      margin-top: 1rem !important;
    }
  }
}

#benefits {
  background-color: $base;
  padding-top: 50px;
  padding-bottom: 50px;

  .tab-content {
    box-shadow: none !important;
    border: none !important;
  }

  .title-benefits {
    color: #2e3023;
    font-size: 2rem !important;
    line-height: 3rem !important;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 2rem !important;

    .img-text {
      display: inline-block;
      width: 10rem;
      margin-top: -8px;
    }
  }

  .sub-title-benefits {
    color: #2e3023;
    font-size: 1.2rem !important;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: normal;
    margin-bottom: 2rem;

    .img-text {
      display: inline-block;
      width: 6.4rem;
      margin-top: -5px;
    }
  }

  // .nav-pills {
  //   .nav-link {
  //     padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  //     border-radius: 0px;
  //     text-decoration: none;
  //     transition: all 0.4s linear;
  //     text-align: center;
  //     width: 100%;

  //     i {
  //       font-size: 3rem !important;
  //       text-align: center;
  //       color: #2e3023 !important;
  //       margin-bottom: 10px;
  //     }

  //     p {
  //       font-size: 1.3rem !important;
  //       font-weight: 600;
  //       text-align: center;
  //       margin-bottom: 5px;
  //       color: #2e3023 !important;
  //       transition: all 0.2s linear;
  //     }

  //     p.small {
  //       font-family: "Barlow";
  //       font-size: 1.1rem !important;
  //       font-weight: 400 !important;
  //       text-align: center;
  //       margin-bottom: 0px;
  //       line-height: 17px !important;
  //     }
  //   }

  //   .nav-link:hover {
  //     padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  //     border-radius: 0px;
  //     text-decoration: none;
  //     transition: all 0.2s linear;

  //     i {
  //       font-size: 5rem;
  //       text-align: center;
  //       color: $primary;
  //       margin-bottom: 10px;
  //       transition: all 0.2s linear;
  //     }

  //     p {
  //       font-size: 1.3rem !important;
  //       font-weight: 600;
  //       text-align: center;
  //       margin-bottom: 5px;
  //       transition: all 0.2s linear;
  //     }

  //     p.small {
  //       font-family: "Barlow";
  //       font-size: 1.1rem !important;
  //       font-weight: 400 !important;
  //       text-align: center;
  //       margin-bottom: 0px;
  //       line-height: 17px !important;
  //     }
  //   }

  //   .nav-link.active {
  //     padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  //     text-decoration: none;
  //     background-color: $primary;

  //     img {
  //       filter: brightness(0) invert(1);
  //     }

  //     p {
  //       font-size: 1.3rem !important;
  //       font-weight: 600;
  //       color: white !important;
  //       text-align: center;
  //       margin-bottom: 5px;
  //     }

  //     p.small {
  //       font-family: "Barlow";
  //       font-size: 1.1rem !important;
  //       font-weight: 400 !important;
  //       color: white !important;
  //       text-align: center;
  //       margin-bottom: 0px;
  //       line-height: 17px !important;
  //     }

  //     i {
  //       font-size: 5rem;
  //       text-align: center;
  //       color: white !important;
  //       margin-bottom: 10px;
  //     }
  //   }
  // }

  .nav-pills {
    margin-bottom: 10px;

    .nav-link {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      border-radius: 0px;
      text-decoration: none;
      transition: all 0.4s linear;
      width: 100%;
      text-align: center;

      i {
        font-size: 4rem !important;
        text-align: center;
        color: #2e3023 !important;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5px;
        color: #2e3023 !important;
        transition: all 0.2s linear;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }
    }

    .nav-link:hover {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      border-radius: 0px;
      text-decoration: none;
      transition: all 0.2s linear;

      i {
        font-size: 5rem;
        text-align: center;
        color: $primary;
        margin-bottom: 10px;
        transition: all 0.2s linear;
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5px;
        transition: all 0.2s linear;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }
    }

    .nav-link.active {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      text-decoration: none;
      background-color: transparent;

      img {
        // filter: brightness(0) invert(1);
        filter: invert(54%) sepia(80%) saturate(4714%) hue-rotate(4deg)
          brightness(94%) contrast(102%);
        transition: all 0.2s linear;
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        color: $primary !important;
        text-align: center;
        margin-bottom: 5px;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        color: $secondary !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }

      i {
        font-size: 5rem;
        text-align: center;
        color: $primary !important;
        margin-bottom: 10px;
      }
    }
  }

  .tab-content {
    border-radius: 0px;
    padding-bottom: 3rem;

    .tab-pane {
      text-align: center;

      h1 {
        font-size: 2.3rem;
        font-weight: 700;
        text-decoration: underline;
        color: #2e3023;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        text-transform: none;
        line-height: 2rem;
        font-weight: 400 !important;

        .img-text {
          display: inline-block;
          width: 5.5rem;
          margin-top: -4px;
        }
      }

      h4 {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;

        .img-text {
          display: inline-block;
          width: 6rem;
          margin-top: -5px;
        }
      }

      p {
        font-size: 1.2rem;
        color: #2e3023;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 0px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-benefits {
      color: #2e3023;
      font-size: 3rem !important;
      line-height: normal !important;
      font-weight: 700;
      letter-spacing: normal;
      margin-top: 1rem !important;
      margin-bottom: 3.5rem !important;

      .img-text {
        display: inline-block;
        width: 15rem;
        margin-top: -12px;
      }
    }

    .sub-title-benefits {
      color: #2e3023;
      font-size: 1.5rem !important;
      line-height: 2rem;
      font-weight: 500;
      letter-spacing: normal;
      margin-bottom: 2rem;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }

    .nav-pills {
      margin-bottom: 10px;

      .nav-link {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        border-radius: 0px;
        text-decoration: none;
        transition: all 0.4s linear;
        width: 25%;

        i {
          font-size: 4rem !important;
          text-align: center;
          color: #2e3023 !important;
          margin-bottom: 10px;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          text-align: center;
          margin-bottom: 5px;
          color: #2e3023 !important;
          transition: all 0.2s linear;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }
      }

      .nav-link:hover {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        border-radius: 0px;
        text-decoration: none;
        transition: all 0.2s linear;

        i {
          font-size: 5rem;
          text-align: center;
          color: $primary;
          margin-bottom: 10px;
          transition: all 0.2s linear;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          text-align: center;
          margin-bottom: 5px;
          transition: all 0.2s linear;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }
      }

      .nav-link.active {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        text-decoration: none;
        background-color: transparent;

        img {
          // filter: brightness(0) invert(1);
          filter: invert(54%) sepia(80%) saturate(4714%) hue-rotate(4deg)
            brightness(94%) contrast(102%);
          transition: all 0.2s linear;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          color: $primary !important;
          text-align: center;
          margin-bottom: 5px;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          color: $secondary !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }

        i {
          font-size: 5rem;
          text-align: center;
          color: $primary !important;
          margin-bottom: 10px;
        }
      }
    }

    .tab-content {
      border-radius: 0px;
      padding-bottom: 3rem;

      .tab-pane {
        text-align: center;

        h1 {
          font-size: 2.3rem;
          font-weight: 700;
          text-decoration: underline;
        }

        h3 {
          font-size: 1.2rem;
          margin-bottom: 0px;
          text-transform: none;
          line-height: 2rem;
          font-weight: 400 !important;

          .img-text {
            display: inline-block;
            width: 5.5rem;
            margin-top: -4px;
          }
        }

        h4 {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          margin-top: 10px;
          margin-bottom: 0px;
          font-weight: 500;

          .img-text {
            display: inline-block;
            width: 5rem;
            margin-top: -4px;
          }
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          color: #2e3023;
          font-weight: 500;
          line-height: 2rem;
          margin-bottom: 0px;
        }
      }
    }
  }
}

#certificates {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-certificates {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-certificates {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-certificates {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin-bottom: 0.5rem !important;
    }

    .sub-title-certificates {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#about-us-page {
  .overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
  }

  .about-us-bg {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    transform: scale(1);
    pointer-events: none;
    position: fixed;
    --fill-layer-image-opacity: 0.8;
    --fill-layer-background-media-position: fixed;
    --fill-layer-background-media-pointer-events: none;
    --bg-overlay-color: rgb(46, 48, 35);
    --bg-gradient: none;
    min-width: 980px;

    img {
      width: 100vw;
      height: 1190px;
      object-fit: cover;
      object-position: 50% 10%;
      background: transparent;
    }
  }

  #about-us {
    position: relative;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-top: 5.66rem;
    padding-bottom: 5.66rem;

    .title-about-us {
      text-align: center;
      font-size: 1.6rem !important;
      font-weight: 600 !important;
      letter-spacing: 1px !important;
      color: white !important;
      line-height: normal;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -7px;
      }
    }

    .sub-title-about-us {
      color: white;
      font-size: 1.2rem;
      font-weight: 400 !important;
      line-height: normal;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }

    @media screen and (min-width: 768px) {
      .title-about-us {
        text-align: center;
        font-size: 3.5rem !important;
        font-weight: 700 !important;
        letter-spacing: 1px !important;
        color: white !important;

        .img-text {
          display: inline-block;
          width: 17rem;
          margin-top: -15px;
        }
      }

      .sub-title-about-us {
        color: white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5.5rem;
          margin-top: 0px;
        }
      }
    }
  }

  #about-us-2 {
    display: block;
    margin-bottom: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: #eef0e9 !important;
    position: relative;

    .title-about-us {
      text-align: center;
      font-size: 2.5rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: white !important;

      .img-text {
        display: inline-block;
        width: 13rem;
        margin-top: -10px;
      }
    }

    .sub-title-about-us {
      p {
        color: $secondary;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
        line-height: 1.6rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 6.4rem;
          margin-top: -6px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      .title-about-us {
        text-align: center;
        font-size: 2.5rem !important;
        font-weight: 700 !important;
        letter-spacing: 1px !important;
        color: white !important;

        .img-text {
          display: inline-block;
          width: 13rem;
          margin-top: -10px;
        }
      }

      .sub-title-about-us {
        p {
          color: $secondary;
          font-size: 1.2rem !important;
          font-weight: 500 !important;
          line-height: 1.6rem;
          letter-spacing: normal;

          .img-text {
            display: inline-block;
            width: 6rem;
            margin-top: -5px;
          }
        }
      }
    }

    @media screen and (min-width: 1200px) {
      .title-about-us {
        text-align: center;
        font-size: 2.5rem !important;
        font-weight: 700 !important;
        letter-spacing: 1px !important;
        color: white !important;

        .img-text {
          display: inline-block;
          width: 13rem;
          margin-top: -10px;
        }
      }

      .sub-title-about-us {
        p {
          color: $secondary;
          font-size: 1.2rem !important;
          font-weight: 500 !important;
          line-height: 1.6rem;
          letter-spacing: normal;

          .img-text {
            display: inline-block;
            width: 6rem;
            margin-top: -4px;
          }
        }
      }
    }
  }

  #about-us-3 {
    position: relative;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-top: 8.66rem;
    padding-bottom: 8.66rem;

    .x-custom {
      margin: 0px 0px !important;

      @media screen and (min-width: 1200px) {
        margin: 0px 20px !important;
      }
    }

    .card-custom {
      background-color: #f1f3ee;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      min-height: 350px;
      padding-bottom: 0px;
      position: relative;
      max-width: 100vw;
      // transform: translateX(5vw);

      h1 {
        font-size: 2.8rem;
        padding-top: 1rem;
        font-weight: 500;
        color: $primary;
      }

      p {
        font-size: 1.3rem;
        color: $secondary;
        font-weight: 500;
        text-align: center;
        min-height: 100px;
        padding: 0px !important;

        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
      }

      @media screen and (min-width: 768px) {
        background-color: #f1f3ee;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        min-height: 350px;
        padding-bottom: 0px;
        position: relative;
        max-width: 1000vw;
        transform: translateX(0vw);

        h1 {
          font-size: 2.8rem;
          padding-top: 1rem;
          font-weight: 500;
          color: $primary;
        }

        p {
          font-size: 1.3rem;
          color: $secondary;
          font-weight: 500;
          text-align: center;
          min-height: 100px;
          padding: 0px !important;

          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

#footer {
  margin-top: 0px;
  background-color: $secondary;
  border-top: 1px #2e3023 solid !important;

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;

    padding-top: 10px;
    letter-spacing: 3px;
  }

  .title_company {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: $primary !important;
    margin-top: 1rem;
    text-align: center;
    padding-top: 10px;
  }

  ul {
    li {
      font-size: 1rem !important;
      color: $primary !important;
      font-weight: 700;
      text-align: center;
    }

    li {
      a {
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 400;
        text-align: center;
      }

      a:hover {
        color: $link-primary-hover !important;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      font-family: "Oswald", sans-serif !important;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      text-align: left;
    }

    .title_company {
      font-family: "Oswald", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      color: $primary !important;
      margin-top: 1rem;
      text-align: left;
      padding-top: 10px;
    }

    ul {
      li {
        // font-family: "Barlow", sans-serif !important;
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 700;
        text-align: left;
      }

      li {
        a {
          // font-family: "Barlow", sans-serif !important;
          font-size: 1.2rem !important;
          color: $primary !important;
          font-weight: 400;
          text-align: left;
        }

        a:hover {
          color: $link-primary-hover !important;
        }
      }
    }
  }

  .footer-copyright {
    background-color: $secondary !important;
    border-top: 2px white solid !important;

    p {
      font-family: "Oswald", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

#our-innovation-page {
  .overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
  }

  .our-innvovation-bg {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    transform: scale(1);
    pointer-events: none;
    position: fixed;
    --fill-layer-image-opacity: 0.8;
    --fill-layer-background-media-position: fixed;
    --fill-layer-background-media-pointer-events: none;
    // --bg-overlay-color: rgb(255, 255, 255);
    --bg-overlay-color: rgb(46, 48, 35);
    --bg-gradient: none;
    min-width: 980px;

    img {
      width: 100vw;
      height: 1190px;
      object-fit: cover;
      object-position: 50% 50%;
      background: rgba(0, 0, 0, 1);
    }
  }

  #our-innovation {
    position: relative;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-top: 5.66rem;
    padding-bottom: 5.66rem;

    .title-our-innovation {
      text-align: center;
      font-size: 1.6rem !important;
      font-weight: 600 !important;
      letter-spacing: 1px !important;
      color: white !important;
      line-height: normal;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -7px;
      }
    }

    .sub-title-our-innovation {
      color: white;
      font-size: 1.2rem;
      font-weight: 400 !important;
      line-height: normal;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }

    @media screen and (min-width: 768px) {
      .title-our-innovation {
        text-align: center;
        font-size: 3.5rem !important;
        font-weight: 700 !important;
        letter-spacing: 1px !important;
        color: white !important;

        .img-text {
          display: inline-block;
          width: 13rem;
          margin-top: -10px;
        }
      }

      .sub-title-our-innovation {
        color: white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5.5rem;
          margin-top: 0px;
        }
      }
    }
  }

  #our-innovation-2 {
    display: block;
    margin-bottom: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 0px !important;
    background-color: #eef0e9 !important;
    position: relative;

    .title-our-innovation {
      color: $primary;
      font-size: 2.8rem !important;
      font-weight: 600 !important;
      line-height: normal;
      letter-spacing: normal;
      padding-top: 30px;
      padding-bottom: 0px;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
      }
    }

    .sub-title-our-innovation {
      p {
        color: $secondary;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
        line-height: normal;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: -4px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      .title-our-innovation {
        color: $primary;
        // font-size: 2.8rem !important;
        font-size: 44px !important;
        font-weight: 500 !important;
        line-height: 1.6rem;
        letter-spacing: normal;
        padding-top: 30px;
        padding-bottom: 30px;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: -4px;
        }
      }

      .sub-title-our-innovation {
        color: white;
        font-size: 1.666rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5.5rem;
          margin-top: 0px;
        }
      }
    }
  }

  #our-innovation-3 {
    position: relative;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-top: 5.66rem;
    padding-bottom: 5.66rem;

    .card-custom {
      background-color: #f1f3ee;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      min-height: 300px;
      padding-top: 3rem;
      padding-bottom: 1rem;

      h1 {
        padding-top: 0rem;
        font-weight: 500;
        font-size: 2.8rem;
        // font-size: 44px;
        color: $primary;
        letter-spacing: 1px;
        line-height: normal;
      }

      p {
        font-size: 1.2rem;
        // margin-right: 2rem;
        // width: 100%;
        color: $secondary;
        font-weight: 500;
        text-align: center;
        // position: absolute;
        min-height: 100px;
        padding: 0px !important;
      }
    }

    @media screen and (min-width: 768px) {
      .card-custom {
        background-color: #f1f3ee;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        min-height: 300px;
        padding-top: 3rem;
        padding-bottom: 1rem;

        h1 {
          padding-top: 0rem;
          font-weight: 500;
          // font-size: 2.8rem;
          font-size: 44px;
          color: $primary;
          letter-spacing: 1px;
        }

        p {
          font-size: 1.2rem;
          // margin-right: 2rem;
          // width: 100%;
          color: $secondary;
          font-weight: 500;
          text-align: center;
          // position: absolute;
          min-height: 100px;
          padding: 0px !important;
        }
      }
    }
  }
}

#our-method-page {
  .overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
  }

  .our-method-bg {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    transform: scale(1) translateY(-250px);
    pointer-events: none;
    position: fixed;
    --fill-layer-image-opacity: 1;
    --fill-layer-background-media-position: fixed;
    --fill-layer-background-media-pointer-events: none;
    --bg-overlay-color: rgb(0, 0, 0);
    --bg-gradient: none;
    min-width: 980px;

    img {
      width: 100vw;
      height: 1190px;
      object-fit: cover;
      object-position: 50% 50%;
      background: rgba(0, 0, 0, 1);
    }
  }

  #our-method {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    padding-top: 7.66rem;
    padding-bottom: 7.66rem;

    .title-our-method {
      text-align: center;
      font-size: 1.6rem !important;
      font-weight: 600 !important;
      letter-spacing: 1px !important;
      color: white !important;
      line-height: normal;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -7px;
      }
    }

    .sub-title-our-method {
      color: white;
      font-size: 1.2rem;
      font-weight: 400 !important;
      line-height: normal;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6.5rem;
        margin-top: -3px;
      }
    }

    @media screen and (min-width: 768px) {
      .title-our-method {
        text-align: center;
        font-size: 3.5rem !important;
        font-weight: 700 !important;
        letter-spacing: 1px !important;
        color: white !important;

        .img-text {
          display: inline-block;
          width: 13rem;
          margin-top: -10px;
        }
      }

      .sub-title-our-method {
        color: white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 6.5rem;
          margin-top: -5px;
        }
      }
    }
  }

  #our-method-icon-section {
    padding: 5rem 2rem 0rem 2rem !important;
    min-height: auto;
    min-width: 100%;
    display: block;
    margin-bottom: 0px !important;
    background-color: #eef0e9 !important;
    position: relative;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: normal;
      margin-bottom: 5rem;
    }

    .mb-sm-x {
      margin-bottom: 20px;
    }

    a.icon-button {
      font-size: 1.2rem;
      font-weight: 500 !important;

      img {
        transition: all 0.2s ease-in-out;
        max-width: 40%;
        height: auto;
        margin-left: 50%;
        transform: translateX(-50%);
      }

      p {
        margin-bottom: 20px;
        color: black;
      }
    }

    a.icon-button.active {
      img {
        filter: brightness(0) saturate(100%) invert(50%) sepia(38%)
          saturate(7018%) hue-rotate(4deg) brightness(95%) contrast(101%);
      }
    }

    @media screen and (min-width: 768px) {
      padding: 5rem 2rem !important;
      min-height: auto;
      min-width: 100%;
      display: block;
      margin-bottom: 0px !important;
      background-color: #eef0e9 !important;
      position: relative;

      .mb-sm-x {
        margin-bottom: 0px;
      }

      a.icon-button {
        font-size: 1.2rem;
        font-weight: 500 !important;

        img {
          transition: all 0.2s ease-in-out;
          max-width: 7vw;
          height: auto;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    a.icon-button:hover {
      text-decoration: none;

      img {
        transform: scale(1.03) translateX(-50%);
        filter: brightness(0) saturate(100%) invert(50%) sepia(38%)
          saturate(7018%) hue-rotate(4deg) brightness(95%) contrast(101%);
        margin-left: 50%;
      }
    }
  }

  #our-method-3 {
    position: relative;
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-top: 5.66rem;
    padding-bottom: 5.66rem;
    min-width: 100% !important;

    .card-custom {
      background-color: #f1f3ee;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      min-height: 300px;
      padding-top: 3rem;
      padding-bottom: 2.5rem;

      h1 {
        padding-top: 1rem;
        font-weight: 500;
        color: $primary;
      }

      p {
        font-size: 1.2rem;
        color: $secondary;
        font-weight: 500;
        text-align: center;
        padding: 0px !important;

        .img-text {
          display: inline-block;
          width: 6rem;
          margin-top: -5px;
        }
      }

      ul {
        li {
          font-size: 1.2rem;
          color: $secondary;
          font-weight: 500;
          text-align: left;
          padding: 0px !important;
          line-height: 2rem;
        }
      }
    }

    @media screen and (min-width: 768px) {
      position: relative;
      margin-bottom: 0px !important;
      background-color: transparent !important;
      padding-top: 5.66rem;
      padding-bottom: 5.66rem;
      min-width: 100% !important;

      .card-custom {
        background-color: #f1f3ee;
        padding-left: 7rem !important;
        padding-right: 7rem !important;
        min-height: 300px;
        padding-top: 3rem;
        padding-bottom: 2.8rem;

        h1 {
          padding-top: 1rem;
          font-weight: 500;
          color: $primary;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          color: $secondary;
          font-weight: 500;
          text-align: center;
          padding: 0px !important;

          .img-text {
            display: inline-block;
            width: 5rem;
            margin-top: -2px;
          }
        }

        ul {
          li {
            font-family: "Montserrat", sans-serif;
            font-size: 1.2rem;
            color: $secondary;
            font-weight: 500;
            text-align: left;
            padding: 0px !important;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

#timelinenya {
  margin: 0px !important;
  padding: 0px 0px 50px 0px !important;
  background-color: #eef0e9;
  position: relative;
  min-width: 100vw !important;

  #anchor_target {
    h1 {
      color: $primary;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem;
      text-decoration: underline;
      font-weight: 700;
      letter-spacing: normal;
      text-align: center;
      line-height: normal;
    }

    p {
      color: whitesmoke;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      line-height: 2rem;
      letter-spacing: normal;
      color: black;
    }
  }

  .timeline-box {
    border: 2px solid $primary !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    h2 {
      color: $primary;
      font-size: 1.3rem !important;
      font-weight: 500 !important;
      line-height: 2rem;
      letter-spacing: normal;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem !important;
      font-weight: 500 !important;
      letter-spacing: normal;
      line-height: 2rem;
      text-align: justify;
      color: #2e3023 !important;
    }
  }

  @media screen and (min-width: 768px) {
    .timeline-box {
      border: 2px solid $primary !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

      h2 {
        color: $primary;
        font-size: 1.3rem !important;
        font-weight: 500 !important;
        line-height: 2rem;
        letter-spacing: normal;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
        letter-spacing: normal;
        line-height: 2rem;
        text-align: justify;
        color: #2e3023 !important;
      }
    }
  }

  .timeline-box.left {
    h2 {
      text-align: left;
    }

    .timeline-box-arrow {
      border-top: 2px solid $primary !important;
      border-right: 2px solid $primary !important;
    }
  }

  .timeline-box.right {
    h2 {
      text-align: right;
    }

    .timeline-box-arrow {
      border-bottom: 2px solid $primary !important;
      border-left: 2px solid $primary !important;
    }
  }

  .timeline-date {
    background: none !important;
    border: none !important;
    width: 100% !important;
    margin-bottom: 50px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.04) !important;

    .btn-primary {
      background-color: $btn-primary !important;
      // border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
      border-color: $btn-primary !important;
      // font-family: "Barlow", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.2s ease, visibility 0s;
      min-width: 10px;
      width: 262px;
      height: 2.5rem !important;
      border-radius: 0;
      padding-top: 5px;
      letter-spacing: 2px;
    }

    @media screen and (min-width: 768px) {
      .btn-primary {
        background-color: $btn-primary !important;
        border-color: $btn-primary !important;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.2s ease, visibility 0s;
        min-width: 10px;
        width: 290px;
        height: 2.5rem !important;
        border-radius: 0;
        padding-top: 5px;
        letter-spacing: 2px;
      }
    }

    .btn-primary:hover {
      background-color: #f1f3ee !important;
      border-color: #2e3023 !important;
      color: #2e3023 !important;
    }
  }
}

#complete-system {
  .title-complete-system {
    color: #2e3023;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: normal;
    text-align: center;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: -4px;
    }
  }

  p {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1.2rem;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 5.5rem;
      margin-top: -5px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  ul > li {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  @media screen and (min-width: 768px) {
    .title-complete-system {
      color: #2e3023;
      font-size: 2.3rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -6px;
      }
    }

    p {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    ul > li {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

#nutritional-properties {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 1.6rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
    line-height: 2.3rem;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    color: white !important;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 6.4rem;
      margin-top: -5px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .title-nutritional-properties {
      text-align: center;
      font-size: 3.5rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .subtitle-nutritional-properties {
      text-align: center;
      font-size: 1.6rem !important;
      font-weight: 400 !important;
      letter-spacing: normal !important;
      color: white !important;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 8rem;
        margin-top: -5px !important;
      }
    }
  }
}

#nutritional-table {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 2.6rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    color: white !important;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: -8px !important;
    }
  }

  .text-info-1 {
    color: white !important;
    margin: 0px;
    font-size: 1rem;
  }

  .text-info-2 {
    color: #2e3023 !important;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .li-info {
    color: #2e3023 !important;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -4px;
    }
  }

  @media screen and (min-width: 768px) {
    .text-info-2 {
      font-size: 1.2rem !important;
    }

    .li-info {
      color: #2e3023 !important;
      margin: 10px;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
      }
    }
  }

  .card {
    background-color: $secondary;

    .img-text {
      display: inline-block;
      width: 4rem;
      height: 100%;
      margin-top: -4px !important;
      // margin-left: 10px;
    }

    .dataTables_length {
      color: whitesmoke;
    }

    .table_filter {
      color: whitesmoke !important;
    }

    .dataTables_filter {
      color: whitesmoke !important;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus,
    .pagination .page-item.active .page-link {
      background-color: $btn-border-1 !important;
      border-color: $btn-border-2;
      color: whitesmoke;
    }

    .pagination > a,
    .pagination > a:hover,
    .pagination > a:focus,
    .pagination > li > a,
    .pagination > li > span,
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: $primary;
    }

    #table_info {
      color: white !important;
    }

    table {
      position: relative;
      border-collapse: collapse;

      thead {
        background-color: $primary;

        tr {
          th {
            color: whitesmoke !important;
            font-size: 0.8rem !important;
            position: sticky !important;
            top: 0px !important;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) !important;
            border-color: whitesmoke;
          }
        }
      }

      tbody {
        tr {
          td {
            color: white;
            font-size: 0.8rem !important;
            border-color: whitesmoke;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      table {
        thead {
          tr {
            th {
              color: $primary;
              font-size: 1.2rem;
            }
          }
        }

        tbody {
          tr {
            td {
              color: white;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

#contact-us {
  p {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2rem;
    color: black;

    .img-text {
      display: inline-block;
      width: 6.5rem;
      margin-top: -3px !important;
    }
  }

  a {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2rem;
    color: black;
  }

  @media screen and (min-width: 768px) {
    p {
      font-family: "Oswald", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem;
      color: black;

      .img-text {
        display: inline-block;
        width: 6.5rem;
        margin-top: -3px !important;
      }
    }

    a {
      font-family: "Oswald", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem;
      color: black;
    }
  }

  .secondary {
    background-color: $base;
    padding: 40px;

    label {
      font-size: 1.2rem;
      color: black;
      font-family: "Oswald", sans-serif;
      margin-bottom: 5px;
    }

    input {
      font-size: 1.2rem;
      color: black;
      font-family: "Oswald", sans-serif;
      border: 1px solid $secondary;
      background-color: transparent;
      border-radius: 0;
    }

    textarea {
      font-size: 1.2rem;
      color: black;
      font-family: "Oswald", sans-serif;
      border: 1px solid $secondary;
      background-color: transparent;
      border-radius: 0;
    }

    .btn-primary {
      // font-family: "Barlow", sans-serif;
      background-color: $primary;
      border-radius: 0;
      border: 1px solid $btn-border-2;
      letter-spacing: normal;
      font-weight: 700 !important;
      font-size: 1.2rem;
    }

    .btn-primary:hover {
      // font-family: "Barlow", sans-serif;
      background-color: transparent;
      border-radius: 0;
      border: 1px solid $btn-border-2;
    }
  }
}

a.scroll-to-top:hover {
  color: $link-primary-hover;
}

#step-method {
  .accordion-header {
    .accordion-button {
      background-color: #ff791f;
      color: whitesmoke;
      font-weight: 600;
      font-size: 1.2rem;

      img {
        width: 50px;
        margin-right: 1rem;
      }
    }

    .accordion-button::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    .accordion-button:focus {
      border-color: #ff791f !important;
      box-shadow: 0 0 0 0.25rem rgba(255, 121, 31, 0.25);
    }
  }

  .accordion-body {
    p {
      font-size: 1rem;
      color: #2e3023 !important;
      font-weight: 400;
    }
  }
}
